<ul>
  <li><%= link_to 'help and faq', help_path %></li>
  <li><%= link_to 'avoid scams and fraud', scams_path %></li>
  <li><%= link_to 'personal safety tips', safety_path %></li>
  <li><%= link_to 'terms of use', terms_path %></li>
  <li><%= link_to 'privacy policy', privacy_path %></li>
  <li><%= link_to 'about rubyslist', about_path %></li>
  <li><%= link_to 'contact us', contact_path %></li>
</ul>

<%= form_tag search_listings_path, method: :get do |f| %>
    <%= text_field_tag :search, nil, placeholder: 'Search...' %>
    <%= text_field_tag :location, nil, placeholder: 'Near...' %>
    <%= select_tag :category, options_for_select(Category.all.map { |c| [c.name, c.id]}) %>
    <%= submit_tag 'Search' %>
<% end %>

<br>
<%= link_to 'post to classifieds', new_listing_path %>
<br>

<br>
<%= link_to 'community', category_path(@community) %>
<ul>
  <% @community.subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, category_subcategory_path(@community, subcategory) %></li>
  <% end %>
</ul>

<br>
<%= link_to 'housing', category_path(@housing) %>
<ul>
  <% @housing.subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %></li>
  <% end %>
</ul>

<br>
<%= link_to 'jobs', category_path(@jobs) %>
<ul>
  <% @jobs.subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, category_subcategory_path(@jobs, subcategory) %></li>
  <% end %>
</ul>

<br>
<%= link_to 'personals', category_path(@personals) %>
<ul>
  <% @personals.subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, category_subcategory_path(@personals, subcategory) %></li>
  <% end %>
</ul>

<br>
<%= link_to 'services', category_path(@services) %>
<ul>
  <% @services.subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, category_subcategory_path(@services, subcategory) %></li>
  <% end %>
</ul>

<br>
<%= link_to 'for sale', category_path(@sale) %>
<ul>
  <% @sale.subcategories.each do |subcategory| %>
      <li><%= link_to subcategory.name, category_subcategory_path(@sale, subcategory) %></li>
  <% end %>
</ul>